*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title, #body, #date{
    border-radius: .5rem;
    border: 1px solid rgb(0,252,71)
}